body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
    flex: 1 0 auto;
}

footer {
    height: 100px;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
.flex { 
    display: flex;
    justify-content: space-around;
}

.github__link {
    display: flex;
    align-items: center;
    color: #c0c0c0;
}
.github__img {
    width: auto;
    height: 42px;
    margin-right: 20px;
}
.rss__link {

}
.rss__img {
    width: auto;
    height: 42px;
}